.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: #d2f4ea;
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    /* transform-origin: .5em 50%; */
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus,
.btn-toggle-nav div:hover,
.btn-toggle-nav div:focus {
    background-color: #d2f4ea;
}

/* RADIO */
.btn-toggle-nav div {
    padding: .1875rem 1.75rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}

.btn-toggle-nav .form-check input {
    margin-right: .5rem;
}

/* SELECT */
.sidebar-select {
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
}

.sidebar-select-alt { /* For floating label */
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
}

/* BUTTON */
#filter-btn {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, .35);

    border: 2px solid rgba(0, 0, 0, .35);

    transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

#filter-btn:hover {
    color: #393a5f;

    border: 2px solid #393a5f;
}

/* OVERLAY */
.overlay {
    position: absolute;
    z-index: 1000;

    /*
    width: 100vw;
    height: 100vh;
    */

    background-color:rgba(0, 0, 0, .65);
}

#filter-overlay {
    display: none;
}

.overlayFadeIn {
    opacity: 1;
    width: 100%;
    height: 100vh;
    transition: opacity 0.35s;
}

.overlayFadeOut {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.35s 0.35s, height 0.35s 0.35s, opacity 0.35s;
}

#course-filter {
    height: 100vh;
    background-color: white;

    overflow-y: auto;

    position: absolute;
    z-index: 1001;
}

#filter-close-btn {
    font-size: 1.75em;
}

@media only screen and (min-width: 768px) {
    #course-filter{
        position: initial;
        z-index: auto;
    }

    #filter-close-btn {
        display: none;
    }
}